body
{
    color: rgb(205, 50, 128);
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p
{
    color: gold;
}

a
{
    color:hotpink;
}
button 
{
    color: palevioletred;
    background-color: teal;
}